a {
  color: #0000ff;
  text-decoration: none;
}

a::before {
  content: '🔗';
}

.local-link::before {
  background-image: url('../../media/examples/webdoky-logo.png');
  background-size: 15px 15px;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
